JWT_SECRET=liliwatt-prospection-secret-2026
GOOGLE_DRIVE_CREDS_BASE64=
ZOHO_CLIENT_ID=
ZOHO_CLIENT_SECRET=
ZOHO_REFRESH_TOKEN=
ZOHO_ACCOUNT_ID=
MASTER_SHEET_ID=
SHEETS_MDP_ID=11gVGMBtqMUhPh70yjMgjW-yLDht6fO0KqWJAF53ASXk
PORT=3002
